* {
    font-family: 'Abel';
}

h1 {
    color: rgb(0, 31, 131);
    text-align: center;
    font-size: 50px;
}

#passwordDisplay {
    display: inline;
}

nav {
    background-color: blue;
    padding: 16px;
    border: none;
    text-align: center;
}

form {
    text-align: center;
    font-size: 25px;
}

a {
    background-color: blue;
    color: white;
    padding:16px;
    font-size: 28px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #2500b7;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-content a {
    color: white;
}

.dropdown:hover .dropbtn{
    background-color: #2500b7;
}

.navbar a:link {
    text-decoration: none;
}

.navbar a:hover {
    background-color: #2500b7;
}

@media
(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

p {
    font-size: x-large;
    color: rgb(54, 0, 203);
    text-align: center;
}

.backButton {
    background-color:transparent;
    border: 3px solid rgb(0, 46, 196);
    color: rgb(48, 0, 110);
    transition: .3s;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    display: inline-block;
}

.backButton:hover {
    animation: pulse 2s;
    transition: .3s;
}

input[type=submit] {
    background-color: default;
    font-size: 18px;
    transition-duration: 0.4s;
}

input[type=submit]:hover {
    background-color: rgb(0, 46, 196);
    color: rgb(255, 255, 255);
}

#center {
    text-align: center;
    padding: 20px;
}

#center #IDHelp {
    font-size: 25px;
}

#title {
    text-align: center;
    font-size: 60px;
}

@keyframes pulse{
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

#inline-link {
    all: unset;
}

#inline-link:link {
    text-decoration: underline;
}

#inline-link:hover {
    animation: pulse 2s;
    transition: 0.3s;
    background: black;
    color: white;
    cursor: pointer;
}
