{% extends 'webApp/base.html' %}
{% load static %}

<!DOCTYPE html>
<head>
    {% block title %}
        FPL ID help
    {% endblock %}
    <link rel="stylesheet" href="{% static 'webApp/style.css' %}">
    <script src="{% static 'webApp/js/jquery-3.6.1.js' %}"></script>
</head>

{% block content %}
    <h1>Finding your FPL ID</h1>
    <div id='center'>
        1. Login to fantasy premier league via fantasy.premierleague.com <br>
        2. Navigate to the "Points" page <br>
        3. The number after "fantasy.premierleague.com/entry/..." is your FPL ID
        <br>
        <br>
        <br>
        <a class='backButton' href='/MyFPL'>
            Back to MyFPL
        </a>
    </div>
{% endblock %}