{% extends 'webApp/base.html' %}
{% load static %}

<!DOCTYPE html>
<head>
    {% block title %}
        FPL ID help
    {% endblock %}
    <link rel="stylesheet" href="{% static 'webApp/style.css' %}">
    <script src="{% static 'webApp/js/jquery-3.6.1.js' %}"></script>
    <link rel='icon' type='image/png' href="{% static 'webApp/logo.png' %}">
</head>

{% block content %}
    <h1>Getting your team information in JSON form</h1>
    <div id='center'>
            <div id='IDHelp'>
            1. Login to fantasy premier league via fantasy.premierleague.com using this browser<br>
            2. Navigate to the "Points" page <br>
            3. Copy the number in the URL after "fantasy.premierleague.com/entry/..." <br>
            4. Add this number to the following URL "https://fantasy.premierleague.com/api/my-team/YOUR NUMBER HERE/"<br>
            5. Copy and paste everything from the webpage, and paste it into the form on the MyFPL page!
            <img src="{% static 'webApp/listViewExample.jpg' %}" alt="Your view should look similar to this">
            <br>
            <br>
            <br>
            <a class='backButton' href='/MyFPL'>
                Back to MyFPL
            </a>
        </div>
    </div>
{% endblock %}