{% load static %}
<head>
    <title>FPL Wizard Home</title>
    <link rel="stylesheet" href="{% static 'webApp/style.css' %}">
    <script src="{% static 'webApp/js/jquery-3.6.1.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel='icon' type='image/png' href="{% static 'webApp/logo.png' %}">
</head>

<nav id='header' class='navbar'>
    <a href="/">Home</a>
    <div class='dropdown'>
        <a class='dropbtn'>Positions</a>
        <div class='dropdown-content'>
            <a href="/Goalkeepers">Goalkeepers</a>
            <a href="/Defenders">Defenders</a>
            <a href="/Midfielders">Midfielders</a>
            <a href="/Attackers">Attackers</a>
        </div>
    </div>
    <a href="/MyFPL">My FPL</a>
</nav>

<body>
    <h1 id='title'>FPL Wizard Home</h1>
</body>