{% load static %}

<!DOCTYPE html>
<head>
    <title>My FPL</title>
    <link rel="stylesheet" href="{% static 'webApp/style.css' %}">
    <script src="{% static 'webApp/js/jquery-3.6.1.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel='icon' type='image/png' href="{% static 'webApp/logo.png' %}">
</head>

<body>
    <nav id='header' class='navbar'>
        <a href="/">Home</a>
        <div class='dropdown'>
            <a class='dropbtn'>Positions</a>
            <div class='dropdown-content'>
                <a href="/Goalkeepers">Goalkeepers</a>
                <a href="/Defenders">Defenders</a>
                <a href="/Midfielders">Midfielders</a>
                <a href="/Attackers">Attackers</a>
            </div>
        </div>
        <a href="/MyFPL">My FPL</a>
    </nav>

    <div id='center'>
        <h1>FPLWizard's My FPL</h1>
        <h4>Once you have filled in the form below, press "find transfers".</h4>
        <h4>Full instructions can be found <a id='inline-link' href='/MyFPL/fplIDHelp'>here</a></h4>
    </div>
    

    <p><a href="/webApp"> Return to Home </a></p>

    <ul>
    {% for item in content %}
        <li>
            <h3>{{ item }}</h3>
        </li>
    {% endfor %}
    </ul>
</body>