{% load static %}

<!DOCTYPE html>
<head>
    <title>My FPL</title>
    <link rel="stylesheet" href="{% static 'webApp/style.css' %}">
    <script src="{% static 'webApp/js/jquery-3.6.1.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel='icon' type='image/png' href="{% static 'webApp/logo.png' %}">
</head>

<body>
    <nav id='header' class='navbar'>
        <a href="/">Home</a>
        <div class='dropdown'>
            <a class='dropbtn'>Positions</a>
            <div class='dropdown-content'>
                <a href="/Goalkeepers">Goalkeepers</a>
                <a href="/Defenders">Defenders</a>
                <a href="/Midfielders">Midfielders</a>
                <a href="/Attackers">Attackers</a>
            </div>
        </div>
        <a href="/MyFPL">My FPL</a>
    </nav>

    <form action='/MyFPL/' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Submit'>
    </form>

    <div id='center'>
        <a class='backButton' id='idHelp' href='/MyFPL/fplIDHelp'>How to find my FPL ID?</a>
    </div>

    {% if fplID != "" and email != "" and password != ""%}
        <h2>Showing team details for account: </h2>
        <h3>FPL ID: {{ fplID }}</h3>
        <h3>Email: {{ email }}</h3>
        <h3 id='passwordDisplay'>Password: </h3>
        {% for i in password %}
            <h3 id='passwordDisplay'>*</h3>
        {% endfor %}
    {% endif %}

    <div id='center'>
        {% if valid %}
            {% for i in teamInfo %}
                <h3>{{ i }}</h3>
            {% endfor %}
        {% else %}
            <h3>{{teamInfo}}</h3>
        {% endif %}
    </div>
</body>