{% load static %}

<!DOCTYPE>
<head>
    <title>My FPL</title>
    <link rel="stylesheet" href="{% static 'webApp/style.css' %}">
    <script src="{% static 'webApp/js/jquery-3.6.1.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
</head>

<body>
    <nav id='header' class='navbar'>
        <a href="/">Home</a>
        <div class='dropdown'>
            <a class='dropbtn'>Positions</a>
            <div class='dropdown-content'>
                <a href="/Goalkeepers">Goalkeepers</a>
                <a href="/Defenders">Defenders</a>
                <a href="/Midfielders">Midfielders</a>
                <a href="/Attackers">Attackers</a>
            </div>
        </div>
        <a href="/MyFPL">My FPL</a>
    </nav>

    <form action='' method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Submit'>
    </form>


    <div id='center'>
        <a class='backButton' id='idHelp' href='/MyFPL/fplIDHelp'>How to find my FPL ID?</a>
    </div>
</body>